<div class="container mt-2">
  <h1 class="animated fadeIn fast">Acerca de mí 💪🏼</h1>
  <hr>
  <p class="animated fadeIn ">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ea, reiciendis,
    consectetur aliquam voluptatibus maiores modi sed vitae animi quos dolorem aliquid
    aspernatur expedita corrupti ducimus cupiditate impedit laborum nesciunt!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nobis eos debitis
    maxime? Quo similique, deserunt quos error asperiores voluptatum, voluptatem rerum eligendi
    modi placeat ipsam, hic porro. Recusandae, cumque.
  </p>
  <div class="row justify-content-center">
    <a href="https://github.com/gerardo-guzman">
      <fa-icon [icon]="git" size="6x"></fa-icon>
    </a>
  </div>
</div>
<app-app-footer></app-app-footer>
