<div class="container mt-2">
  <h1 class="animated fadeIn fast">Acerca de mí bitware</h1>
  <hr>
  <p class="animated fadeIn ">
    Tecnología empresarial enfocada en disminuir costos, e incrementar la efectividad de tu servicio.
    Tenemos un equipo de profesionales a tu servicio para solucionar las necesidades de tu empresa o negocio.
  </p>
  <div class="row justify-content-center">
    <a href="https://github.com/gerardo-guzman">
      Bitware
    </a>
  </div>
</div>

<app-app-footer></app-app-footer>

